@use "./variables" as *;
.portfolio{
    padding: 50px 20px 50px 20px;
    color: $color-text-primary;
    background-image: linear-gradient(180deg, $color-background-secondary, $color-background-primary) ;
    font-family: $title-font;
    font-size: 30px;

    &__navright{
        margin-top: 25px;
        margin-bottom: 25px;
        font-family: $body-font;
        font-size: 15px;
    
    &--btn{
        text-decoration: none;
        color:$color-text-primary;
        margin-right: 25px;
    }
    &--btn:active, &--btn:hover{
        color: $color-text-secondary;
        font-weight: bold;
    }    
}
}

.project1, .project2, .project3 {
    display: grid;
    justify-content: center;
    padding-top: 10px;

    &__image{
        margin: 5px;
        max-height: 30vh;
    }

    &__title{
        color: $color-text-primary;
        font-family: $body-font;
        font-size: 20px;
        margin-bottom: 20px;
    }

    &__skills{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        font-family: $body-font;

        &--category{
            background-color: darkgray;
            color: $color-text-primary;
            font-size: 10px;
            padding: 5px 10px 5px 10px;
            margin-right: 10px;
            border-radius: 5%;
            text-decoration: none;
        }
    }
}
.project2{
    display: none;
}

.project3{
    display: none;
}

@media screen and (min-width: 768px){ 
.portfolio{
    padding: 70px;

    &__nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        height: 10vh;
    }
    &__navright{
            display: flex;
            justify-content: right;
        }
}
.project2{
    display: unset;
}
.project__half{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
}



    