@use "./variables" as *;

.about{
    padding: 20px;
    padding-bottom: 20vh;
    color: $color-text-primary;
    background-color: $color-background-primary;

    &__image{
        display: none;
    }
    &__title{ 
            display: flex;
            flex-wrap: wrap;
            padding-top: 20px;
            padding-bottom: 10vh;
            font-size: 30px;
            font-family: $title-font;
        &--header1{
            color: $color-text-secondary;
        }
    }
    &__text{
        &--body{
            margin-bottom: 50px;
            font-family: $body-font;
            padding-bottom: 15vh;
        }
        &--cta{
            display: flex;
            justify-content: left;
            align-items: center;
        }
        &--scroll{
            text-decoration: none;
            font-family: $body-font;
            margin-right: 20px;
            color: $color-text-primary;
        } 
        &--arrow{
           max-height: 20px;
           max-width: 20px;
        }
    }
}

@media screen and (min-width: $tablet-breakpoint) { 
.about{
    margin: 100px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5vh 23vh 30vh 5vh;
    color: red;
    
    &__text{
        &--head{
            grid-row: 2 / 3;
        }
        &--body{
            grid-row: 3 / 4;
        }
        &--cta{
            grid-column: 1 / 2;
            grid-row: 4 / 5;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
         &--scroll{
            text-decoration: none;
            margin-right: 20px;
            color: red;
        } 
        &--arrow{
           max-height: 20px;
           max-width: 20px;
        }
    }

    &__image{
        display: flex;
        grid-row: 1 / 5;
        max-height: 90%;
        max-width: 80%;
        margin: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
}
}