/* @use "./variables" as *;

.about{
    margin-top: 100px;
    padding-bottom: 30px;
}
.skills{
    margin: 10px;
    padding-bottom: 30px;
}
.portfolio{
    margin: 10px;
    padding-bottom: 30px;
}
.cv{
    margin: 10px;
    padding-bottom: 30px;
}
*/