@use "./variables" as *;
.portfolio{
    margin: 20px;
    color: red;
    padding-top: 20px;
    
    &__nav--right{
        margin: 10px;
    }
    
    a{
        text-decoration: none;
        color: red;
        margin-right: 25px;
    }
    a:active, a:hover{
        color: green;
        font-weight: bold;
    }    
}

.project{
    display: grid;
    justify-content: center;
    background-color: yellow;

    &__image{
        margin: 5px;
        max-height: 30vh;
    }

}


@media screen and (min-width: $tablet-breakpoint) { 
.portfolio__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 10vh;
    
    &--left{
        display: flex;
        flex-wrap: wrap;
        color: red;
        align-content: center;
        padding-left: 20px;
        text-decoration: none;
        font-size: 20px;
    } 
    
    &--right{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: right;
        justify-content: space-evenly;
        padding-left: 20px;
        //font-size: 20px;
    } 
    a{
        text-decoration: none;
        color: red;
    }
}
}