@use "./variables" as *;
.portfolio{
    margin: 20px;
    color: red;
    padding-top: 20px;
    
    &__navright{
        margin: 10px;
    
    &--btn{
        text-decoration: none;
        color: red;
        margin-right: 25px;
    }
    &--btn:active, &--btn:hover{
        color: green;
        font-weight: bold;
    }    
}
}

.project{
    display: grid;
    justify-content: center;
    background-color: yellow;
    padding-top: 10px;

    &__image{
        margin: 5px;
        max-height: 30vh;
    }

    &__title{
        color: purple;
        font-size: 20px;
    }

    &__skills{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;

        &--category{
            background-color: lightgrey;
            color: grey;
            font-size: 10px;
            padding: 5px;
            margin-right: 10px;
            border-radius: 15%;
            text-decoration: none;
        }
    }

}
.project2{
    display: none;
}

.project3{
    display: none;
}

@media screen and (min-width: $tablet-breakpoint) { 
.portfolio__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 10vh;
    
    &--left{
        display: flex;
        flex-wrap: wrap;
        color: red;
        align-content: center;
        padding-left: 20px;
        text-decoration: none;
        font-size: 20px;
    } 
    
    &--right{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: right;
        justify-content: space-evenly;
        padding-left: 20px;
        //font-size: 20px;
    } 
    a{
        text-decoration: none;
        color: red;
    }
}
}