$font-body: sans-serif;
$color-background-primary: rgb(28,26,29);
$color-background-secondary: rgb(42,40,53);
$color-text-primary:white;
$color-text-secondary: #D3FF56;



//$color-primary: white;
$color-black: black;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;