@use "./_body.scss/variables" as *;
@use "./_body.scss/navigation";
@use "./_body.scss/about";
@use "./_body.scss/skills";
@use "./_body.scss/portfolio";
@use "./_body.scss/cv";
@use "./_body.scss/contact";
@use "./_body.scss/_footer";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.contact{
    margin: 10px;
    padding-bottom: 30px;
}