@use "../abstracts/variables" as *;

.about{
    padding: 20px;
    padding-bottom: 20vh;
    color: $color-text-primary;
    background-color: $color-background-primary;

    &__image{
        display: none;
    }
    &__title{ 
            display: flex;
            flex-wrap: wrap;
            padding-top: 20px;
            padding-bottom: 10vh;
            font-size: 30px;
            font-family: $title-font;
        &--header1{
            color: $color-text-secondary;
        }
    }
    &__text{
        &--body{
            font-family: $body-font;
            padding-bottom: 15vh;
        }
        &--cta{
            display: flex;
            justify-content: left;
            align-items: center;
        }
        &--scroll{
            text-decoration: none;
            font-family: $body-font;
            margin-right: 20px;
            color: $color-text-primary;
        } 
        &--arrow{
           max-height: 20px;
           max-width: 20px;
           background-color: yellow;
        }
    }
}

@media screen and (min-width: $tablet-breakpoint) { 
.about{
    padding: 70px;

    &__image{
        display: unset;
        
    }
    &__imagecontainer{
        display: flex;
        justify-content: center;
        height: 25vh;
    }
    &__title{
        padding-bottom: 30px;
    }
    &__text{
        &--body{
            font-family: $body-font;
            font-size: 18px;
            padding-bottom: 65px;
        }
    }
}
}
