@use "../abstracts/variables" as *;

.cv{
    padding: 20px;
    color: $color-text-primary;
    background-color: $color-background-primary;
    font-family: $body-font;

    &__title{
        font-family: $title-font;
        font-size: 30px;
        padding-bottom: 25px;
    }

    &__grid{
        margin-bottom: 20px;
        font-family: $body-font;
        font-size: 15px;
    
        &--intro{
            padding-bottom: 25px;
            font-size: 15px;
        }

        &--image-container{
            display: flex;
            justify-content: center;
            align-self: center;
            margin-bottom: 20px;
        }
        &--image{
            max-height: 40vh;
        }

        &--subheading{
            color: $color-text-secondary;
            font-family: $title-font;
            font-size: 20px;
            margin-top: 20px ;
            margin-bottom: 20px;
        }

        &--role1{
            display: flex;
            justify-content: left;
            align-items: center;
        }
        &--arrow{
            max-height: 20px;
            max-width: 20px;
            background-color: yellow;
        }
        &--date{
            font-size: 10px;
            margin-top: 5px;
        }
        &--body{
            padding: 20px;
        }
    }
}  


@media screen and (min-width: $tablet-breakpoint) {
    .cv{
        padding: 70px;
        display: flex;
        flex-direction: column;

        &__title{
            font-size: 40px;
        }
        
        &__grid{
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: auto;

            &--image-container{
                display: none;
            }

            &--intro, &--subheading, &--role1, &--date, &--body{
                grid-column: 2 / 3;
            }
        }

        /*

        &__body, &__bottom{
            display: flex;
            flex-wrap: wrap;
            justify-content: right;
        }
*/


}
}  

